header{
    background-color: rgba(2, 2, 154, 0.845);
    color: white;
    padding: 1px;
    text-align: center;
}
footer{
    background-color: rgba(2, 2, 154, 0.845);
    color: white;
    padding: 20px;
    text-align: center;
}

nav a{
    color: white;
    padding: 13px;
    text-decoration: none;
}

section{
    padding: 5px;
}

#Experience div{
    background-color: #9bebff;
    padding: 10px;
    margin-bottom: 10px;
}

table{
    width: 20%;
    border-collapse: collapse;
    background-color: white;
}

/* Giving borders to table */
th, td  {  
    border: 2px solid black;
    padding: 10px 15px;
    text-align: middle;
}

th {
    background-color: #f2f2f2;
    font-weight: bold;
}

hr.section-divider {
    border: none;
    border-top: 8px solid #ccc;
    margin: 20px 0;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

}
